<a href="/">Main page</a>
<h1>{{ campaign.title }}</h1>
<p>GM: {{ campaign.gm }}</p>
<p>Players:</p>
<ul>
    {% for player in players %}
    <li>{{ player }}</li>
    {% endfor %}
</ul>
<p>Created at: {{ campaign.creation_time.strftime("%x") }}</p>
{% for chat in chatlist %}
{% if chat["private"] == 0 or session.get("username") in chat["chatters"] %}
<div>
    <h2>{{ chat["title"] }}</h2>
    <p>{{ chat["time"].strftime("%x") }}</p>
    <p>Chat participants:</p>
    <ul>
        {% for chatter in chat["chatters"] %}
        <li>{{ chatter }}</li>
        {% endfor %}
    </ul>
    {% if chat["private"] == 1 %}
    <p>This chat is private, only participating players can see it</p>
    {% endif %}
    <div>
        {% for message in chat["messages"] %}
        <p>
            {{ message["time"].strftime("%x") }} {{ message["username"] }} :
            {{ message["text"] }}
        </p>
        {% endfor %}
        {% if chat["closed"] == 0 and session.get("username") in chat["chatters"] %}
        <form action="/campaign/{{ id }}" method="POST">
            {% if session.get("username") == campaign.gm %}
            <label>
                Close this chat
                <input type="checkbox" name="close" value=1>
            </label>
            <br>
            {% endif %}
            <label>
                New message:
                <input type="text" name="text" maxlength="1000">
            </label>
            <input type="submit" value="Send">
            <input type="hidden" name="chat_id" value="{{ chat["id"] }}">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
        {% elif chat["closed"] == 1 %}
        <p>This chat has been closed by the GM</p>
        {% endif %}
    </div>
</div>
{% endif %}
{% endfor %}
{% if session.username == campaign.gm %}
<a href="/campaign/{{ id }}/create-chat">Start a new chat</a>
<br>
<a href="/campaign/{{ id }}/delete">Delete campaign</a>
{% endif %}
{% if session.username in players %}
<a href="/campaign/{{ id }}/leave" method="GET">
    Remove yourself from this campaign
</a>
{% endif %}
