<a href="/">Main page</a>
<h1>{{ campaign.title }}</h1>
<p>GM: {{ campaign.gm }}</p>
<p>Players:</p>
<ul>
    {% for player in players %}
    <li>{{ player }}</li>
    {% endfor %}
</ul>
<p>Created at: {{ campaign.creation_time.strftime("%x") }}</p>
{% if session.username == campaign.gm %}
<a href="/campaign/{{ id }}/create-chat">Start a new chat</a>
<h3>Delete campaign</h3>
<p>
    To delete this campaign, enter the campaign password and click 
    "Delete campaign".
</p>
<form action="/campaign/{{ id }}/delete" method="POST">
    <p>
        <label>
            Campaign password:
            <br>
            <input type="password" name="password">
        </label>
    </p>
    <input type="submit" value="Delete campaign">
</form>
{% endif %}
{% if session.username in players %}
<a href="/campaign/{{ id }}/leave" method="GET">
    Remove yourself from this campaign
</a>
{% endif %}
