{% extends "base.html" %}

{% block title %}
    My active chats
{% endblock %}

{% block content %}
    <h1>Active chats</h1>
    {% for campaign in chat_grouping %}
    {% if campaign["chats"] != [] %}
    <div>
        <a class="campaign-link" href="/campaign/{{ campaign["info"].id }}">
            <h2 class="campaign-title">{{ campaign["info"].title }}</h2>
        </a>
        {% for chat in campaign["chats"] %}
        <div class="greybox" id="{{ chat["id"] }}">
            <h3>{{ chat["title"] }}</h3>
            <div class="messages">
                <div>
                    {% for message in chat["messages"] %}
                    <div class="flexbox">
                        <div class="flexleft sender">
                            <i>{{ message["username"] }}</i> : 
                        </div>
                        <div class="flexleft messagetext">
                            {{ message["text"] }}
                        </div>
                        <div class="flexright time">
                            {{ message["time"]
                                .strftime("%H:%M, %b %-d, %Y") }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <form action="/campaign/{{ campaign["info"].id }}" method="POST">
                <div class="flexbox">
                    <div class="flexleft label">
                        <label for="text">New message:</label>
                    </div>
                    <input class="flexleft textinput" type="text" name="text" maxlength="1000">
                    <div class="flexright sendbutton">
                        <input type="submit" value="Send">
                    </div>
                </div>
                <input type="hidden" name="chat_id" value="{{ chat["id"] }}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="hidden" name="route" value="/chats#{{ chat["id"] }}">
            </form>
            {% if session.role == 1 %}
            <a class="small actionbtn" href="/chats/leave/{{ chat["id"] }}">Leave this chat</a>
            {% endif %}
        </div>
        {% endfor %}
        <br>
    </div>
    {% endif %}
    {% endfor %}
{% endblock %}
