{% extends "base.html" %}

{% block title %}
    Leave chat
{% endblock %}

{% block content %}
    <a class="campaign-link" href="/campaign/{{ campaign.id }}">
        <h1 class="campaign-title">{{ campaign.title }}</h1>
    </a>
    <div class="greybox">
        <p class="flexright">Created on {{ chat["time"].strftime("%b %-d, %Y") }}</p>
        <h2>{{ chat["title"] }}</h2>
        <ul class="indentless-list" aria-label="Participants:">
            {% for chatter in chat["chatters"] %}
            <li>{{ chatter }}</li>
            {% endfor %}
        </ul>
        {% if chat["private"] == 1 %}
        <p>This chat is private, only participating players can see it</p>
        {% endif %}
        <div class="messages">
            <div>
                {% for message in chat["messages"] %}
                <div class="flexbox">
                    <div class="flexleft sender">
                        <i>{{ message["username"] }}</i> : 
                    </div>
                    <div class="flexleft messagetext">
                        {{ message["text"] }}
                    </div>
                    <div class="flexright time">
                        {{ message["time"]
                            .strftime("%H:%M, %b %-d, %Y") }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    {% if session.role == 1 %}
    <form action="/chats/leave/{{ chat["id"] }}" method="POST">
        <label>
            Leave chat
            <input type="checkbox" name="leave" value=1 required>
        </label>
        <br>
        This action cannot be reversed!
        <br>
        <input class="small actionbtn" type="submit" value="Confirm leave">
        <input type="hidden" name="csrf_token"
            value="{{ session.csrf_token }}">
    </form>
    {% endif %}
{% endblock %}