{% extends "base.html" %}

{% block title %}
    Delete campaign
{% endblock %}

{% block content %}
    <div class="align-center">
        <a class="campaign-link" href="/campaign/{{ campaign.id }}">
            <h1 class="campaign-title">{{ campaign.title }}</h1>
        </a>
        <div class="infobox">
            <p>GM:<br>{{ campaign.gm }}</p>
            <ul class="indentless-list" aria-label="Players:">
                {% for player in players %}
                <li>{{ player }}</li>
                {% endfor %}
            </ul>
            <p>Created on {{ campaign.creation_time.strftime("%b %-d, %Y") }}</p>
        </div>
    </div>
    <h3>Delete campaign</h3>
    <p>
        To delete this campaign, enter the campaign password and click 
        "Delete campaign". The chats in a deleted campaign can no longer be
        accessed. You cannot create a new campaign with an identical title.
    </p>
    <form action="/campaign/{{ id }}/delete" method="POST">
        <p>
            <label>
                Campaign password:
                <br>
                <input type="password" name="password" required>
            </label>
            {% if error %}
            <br>
            <span class="error">{{ error }}</span>
            {% endif %}
        </p>
        <input class="small actionbtn" type="submit" value="Delete campaign">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
{% endblock %}
