{% extends "base.html" %}

{% block title %}
    Character Chatter
{% endblock %}

{% block content %}
    {% if message %}
    <p class="success">{{ message }}</p>
    {% endif %}
    {% if session.username %}
    <div class="align-center">
        {% if (session.role == 2) %}
        <h1>Greetings, GM {{ session.username }}!</h1>
        <a class="big actionbtn" href="/create-campaign">Start a new campaign</a>
        {% else %}
        <h1>Greetings, {{ session.username }}!</h1>
        <a class="big actionbtn" href="/campaigns">Join a campaign</a>
        {% endif %}
        {% if campaigns != [] %}
        <div class="greybox">
            <ul class="campaign-list indentless-list">
                {% for campaign in campaigns %}
                <li>
                    <a class="campaign-link" href="/campaign/{{ campaign.id }}">
                        <h3 class="big actionbtn campaign-title">{{ campaign.title }}</h3>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    {% else %}
    <form action="/login" method="POST">
        <h3>Login</h3>
        <p>
            <label>
                Username:
                <br>
                <input type="text" name="username">
                {% if error == "Username not registered"
                    or error == "Account has been deactivated" %}
                <br>
                <span class="error">{{ error }}</span>
                {% endif %}
            </label>
        </p>
        <p>
            <label>
                Password:
                <br>
                <input type="password" name="password">
            </label>
            {% if error == "Incorrect password" %}
            <br>
            <span class="error">{{ error }}</span>
            {% endif %}
        </p>
        <input class="small actionbtn" type="submit" value="Log in">
    </form>
    <form action="/register" method="POST">
        <h3>Register</h3>
        {% if error == "Could not register account"
            or error == "Account type not recognized" %}
        <p class="error">{{ error }}</p>
        {% endif %}
        <p>Please read <a href="/terms-of-use">Terms of use</a> before registering</p>
        <p>
            <label>
                Player account
                <input type="radio" name="account" value="1" checked>
            </label>
            <label>
                GM account
                <input type="radio" name="account" value="2">
            </label>
        </p>
        <p>
            <label>
                Username (max 20 characters):
                <br>
                <input type="text" name="username" maxlength="20">
            </label>
            {% if error == "Username has to be 1-20 characters long"
                or error == "Username is already in use" %}
            <br>
            <span class="error">{{ error }}</span>
            {% endif %}
        </p>
        <p>
            <label>
                Password (8-32 characters):
                <br>
                <input type="password" name="password1" maxlength="32">
            </label>
            {% if error == "Password has to be 8-32 characters long"
                or error == "Password was retyped incorrectly" %}
            <br>
            <span class="error">{{ error }}</span>
            {% endif %}
        </p>
        <p>
            <label>
                Retype password:
                <br>
                <input type="password" name="password2">
            </label>
        </p>
        <input class="small actionbtn" type="submit" value="Register">
    </form>
    <br>
    <a class="small actionbtn" href="/account-status">
        Reactivate an existing account
    </a>
    {% endif %}
{% endblock %}

