{% if error %}
<p>Action not successful: {{ error }}</p>
{% endif %}
{% if session.username %}
<p>Logged in as {{ session.username }}</p>
<a href="/logout">Log out</a>
{% else %}
<form action="/login" method="POST">
    <h3>Login</h3>
    <p>
        Username:
        <br>
        <input type="text" name="username">
    </p>
    <p>
        Password:
        <br>
        <input type="password" name="password">
    </p>
    <input type="submit" value="Log in">
</form>
<form action="/register" method="POST">
    <h3>Register</h3>
    <p>
        Username (max 20 characters):
        <br>
        <input type="text" name="username">
    </p>
    <p>
        Password (8-32 characters):
        <br>
        <input type="password" name="password">
    </p>
    <input type="submit" value="Register">
</form>
{% endif %}
