<p><b>
    !THIS APP IS IN DEVELOPMENT, DO NOT GIVE SENSITIVE INFORMATION!
    <br>
    ACCOUNTS WILL BE WIPED OFTEN DURING DEVELOPMENT
</b></p>
{% if error %}
<p>Action not successful: {{ error }}</p>
{% endif %}
{% if session.username %}
<p>Logged in as {{ session.username }} by role {{ session.role }}</p>
{% if (session.role == 2) %}
<p>This is a GM account</p>
<h3>Your campaigns:</h3>
<a href="/newcampaign">Start a new campaign</a>
<ul>
    {% for campaign in campaigns %}
    <li><a href="/campaign/{{ campaign.id }}">{{ campaign.title }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>This is a player account</p>
{% endif %}
<a href="/logout">Log out</a>
{% else %}
<form action="/login" method="POST">
    <h3>Login</h3>
    <p>
        <label>
            Username:
            <br>
            <input type="text" name="username">
        </label>
    </p>
    <p>
        <label>
            Password:
            <br>
            <input type="password" name="password">
        </label>
    </p>
    <input type="submit" value="Log in">
</form>
<form action="/register" method="POST">
    <h3>Register</h3>
    <p>
        <label>
            Player account
            <input type="radio" name="account" value="1" checked>
        </label>
        <label>
            GM account
            <input type="radio" name="account" value="2">
        </label>
    </p>
    <p>
        <label>
            Username (max 20 characters):
            <br>
            <input type="text" name="username">
        </label>
    </p>
    <p>
        <label>
            Password (8-32 characters):
            <br>
            <input type="password" name="password1">
        </label>
    </p>
    <p>
        <label>
            Retype password:
            <br>
            <input type="password" name="password2">
        </label>
    </p>
    <input type="submit" value="Register">
</form>
{% endif %}
<br>
<a href="/account_status">Activate or deactivate an existing account</a>
