{% extends "base.html" %}

{% block title %}
    Join campaign
{% endblock %}

{% block content %}
    <h1 class="campaign-title">{{ campaign.title }}</h1>
    <p>GM: {{ campaign.gm }}</p>
    <p>To join this campaign, ask your GM for the password and enter it here</p>
    <form action="/campaign/{{ campaign.id }}/join" method="POST">
        <p>
            <label>
                Campaign password:
                <br>
                <input type="password" name="password" required>
                {% if error %}
                <br>
                <span class="error">{{ error }}</span>
                {% endif %}
            </label>
        </p>
        <input class="big actionbtn" type="submit" value="Join">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
{% endblock %}
