{% extends "base.html" %}

{% block title %}
    Leave campaign
{% endblock %}

{% block content %}
    <div class="align-center">
        <a class="campaign-link" href="/campaign/{{ campaign.id }}">
            <h1 class="campaign-title">{{ campaign.title }}</h1>
        </a>
        <div class="infobox">
            <p>GM:<br>{{ campaign.gm }}</p>
            <ul class="indentless-list" aria-label="Players:">
                {% for player in players %}
                <li>{{ player }}</li>
                {% endfor %}
            </ul>
            <p>Created on {{ campaign.creation_time.strftime("%b %-d, %Y") }}</p>
        </div>
    </div>
    <p>To leave this campaign, enter your password and click "Leave"</p>
    <form action="/campaign/{{ campaign.id }}/leave" method="POST">
        <p>
            <label>
                Password:
                <br>
                <input type="password" name="password" required>
                {% if error %}
                <br>
                <span class="error">{{ error }}</span>
                {% endif %}
            </label>
        </p>
        <input class="small actionbtn" type="submit" value="Leave">
    </form>
{% endblock %}
