<!DOCTYPE html>

<head>
    <title>Ch-Ch - Browse campaigns</title>
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static',filename='styles/styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Maaria Wahlström">
    <meta name="description" content="Character Chatter is an app for playing
        out social interactions between characters of a roleplaying campaign.">
</head>

<body>
    <img src="{{ url_for('static', filename='images/logo-small.png') }}"
        alt="Character Chatter logo"/>
    {% if session.username %}
    <nav class="navigation">
        <a href="/">Main page</a>
        <a id="active" href="/campaigns">All campaigns</a>
        <a href="/chats">My chats</a>
        <div class="dropdown">
            <button type="button" class="dropbutton">My campaigns</button>
            <div class="dropcontent">
                {% for campaign in campaigns %}
                <a href="/campaign/{{ campaign.id }}">
                    {{ campaign.title }}
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="dropdown">
            <button type="button" class="dropbutton">Account</button>
            <div class="dropcontent">
                <p>Logged in as: {{ session.username }}</p>
                <a href="/logout">Log out</a>
                <a href="/account-status">
                    Deactivate account
                </a>
            </div>
        </div>
    </nav>
    {% endif %}
    <div class="content">
        <form action="/campaigns", method="GET">
            <label>
                Search:
                <input type="text" name="search_term">
            </label>
            <input class="small actionbtn" type="submit" value="Go">
            <br>
            <label>
                By title:
                {% if gm_checked %}
                <input type="radio" name="search_by" value="title">
                {% else %}
                <input type="radio" name="search_by" value="title" checked>
                {% endif %}
            </label>
            <label>
                By GM:
                {% if gm_checked %}
                <input type="radio" name="search_by" value="gm" checked>
                {% else %}
                <input type="radio" name="search_by" value="gm">
                {% endif %}
            </label>
        </form>
        <h1>Campaigns</h1>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
        <ul class="indentless-list">
            {% for campaign in show_campaigns %}
            <li>
                <div class="greybox flexbox">
                    <div class="flexleft listing">
                        <h2 class="campaign-title">{{ campaign.title }}</h2>
                        <p>by {{ campaign.gm }} on {{ campaign.creation_time.strftime("%b %-d, %Y") }}</p>
                    </div>
                    <div class="flexright join">
                        <a class="big actionbtn"
                            href="/campaign/{{ campaign.id }}/join">Join</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    
</body>
