{% extends "base.html" %}

{% block title %}
    Start a chat
{% endblock %}

{% block content %}
    <div class="align-center">
        <a class="campaign-link" href="/campaign/{{ id }}">
            <h1 class="campaign-title">{{ campaign.title }}</h1>
        </a>
        <div class="infobox">
            <p>GM:<br>{{ campaign.gm }}</p>
            <ul class="indentless-list" aria-label="Players:">
                {% for player in players %}
                <li>{{ player }}</li>
                {% endfor %}
            </ul>
            <p>Created on {{ campaign.creation_time.strftime("%b %-d, %Y") }}</p>
        </div>
    </div>
    <form action="/campaign/{{ id }}/create-chat" method="POST">
        <h3>Start a new chat</h3>
        <p>
            <label>
                Title/setting (max 300 characters):
                <br>
                <input type="text" name="title" required>
            </label>
            {% if error %}
            <br>
            <span class="error">{{ error }}</span>
            {% endif %}
        </p>
        <p>
            Participants:
        </p>
        <ul class="indentless-list">
            <li>
                <label>
                    <input type="checkbox" name="chatter" disabled="disabled" checked>
                    {{ session["username"] }}
                </label>
            </li>
            {% for player in players %}
            <li>
                <label>
                    <input type="checkbox" name="chatter" value="{{ player }}">
                    {{ player }}
                </label>
            </li>
            {% endfor %}
        </ul>
        <p>
            <label>
                <input type="checkbox" name="private" value=1>
                Private
            </label>
            <br>
            Making the chat private means only participants can see it.
        </p>
        <input class="small actionbtn" type="submit" value="Create">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
{% endblock %}
