{% extends "base.html" %}

{% block title %}
    Create a campaign
{% endblock %}

{% block content %}
    {% if (session.role == 1) %}
    <p>Campaigns can only be created on GM accounts</p>
    {% else %}
    <form action="/create-campaign" method="POST">
        <h1>Start a new campaign</h1>
        <p>
            <label>
                Title (max 100 characters):
                <br>
                <input type="text" name="title" maxlength="100" required>
            </label>
            {% if error == "Title cannot be empty"
                or error == "Title is too long"
                or error == "You cannot create two campaigns with the same title" %}
            <br>
            <span class="error">{{ error }}</span>
            {% endif %}
        </p>
        <p>
            <label>
                Password (8-32 characters):
                <br>
                <input type="password" name="password" required>
            </label>
            {% if error == "Password is too short"
                or error == "Password is too long" %}
            <br>
            <span class="error">{{ error }}</span>
            {% endif %}
        </p>
        <input class="small actionbtn" type="submit" value="Create">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    {% endif %}
{% endblock %}
