<a href="/">Main page</a>
<h1>{{ campaign }}</h1>
<p>Players:</p>
<ul>
    {% for player in players %}
    <li>{{ player }}</li>
    {% endfor %}
</ul>
<form action="/campaign/{{ id }}/create-chat" method="POST">
    <h3>Start a new chat</h3>
    <p>
        <label>
            Title/setting (max 300 characters):
            <br>
            <input type="text" name="title">
        </label>
    </p>
    <p>
        Choose chat participants (you as a GM are a default
        participant):
        <br>
        {% for player in players %}
        <label>
            {{ player }}
            <input type="checkbox" name="chatter" value="{{ player }}">
        </label>
        {% endfor %}
    </p>
    <p>
        <label>
            Private
            <input type="checkbox" name="private" value=1>
        </label>
        <br>
        Making the chat private means only participants can see it.
    </p>
    <input type="submit" value="Create">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
