{% extends "base.html" %}

{% block title %}
    Terms of use
{% endblock %}

{% block content %}
    <h1>Terms of use</h1>
    <h2>May 8, 2021</h2>
    <p>
        Please read these terms of use carefully before using Character
        Chatter website. By using Character Chatter you agree to comply
        with these terms.
    </p>
    <h3>User account</h3>
    <p>
        Full use of Character Chatter requires registering an account.
        Account registration requires users to choose a username, which
        will be publicly displayed on the website, and a password, which
        will be stored encrypted. You are responsible for ensuring that
        the information you give does not identify you as an individual.
        You are also responsible for all activities that occur under
        your account, so keep your password safe. Character Chatter
        provider reserves all rights to terminate accounts at their sole
        discretion.
    </p>
    <h3>Age restriction</h3>
    <p>
        RPG campaigns may include discussions around adult topics. Thus
        you must be at least 18 years of age to use Character Chatter.
        By using this website you warrant that you are at least 18 years
        of age and may legally adhere to this agreement. Provider of
        this website assumes no responsibility for liabilities related
        to age misrepresentation.
    </p>
    <h3>User content</h3>
    <p>
        You are responsible for the content you make available through
        Character Chatter by creating campaigns and chats and sending
        messages. You agree to only post content that is in compliance
        with these terms and with all applicable laws, rules and
        regulations. Do not post content that is harmful, endangers
        anyone’s privacy or infringes on someone else’s copyright. You
        produce and access all Character Chatter content at your own
        risk, and you will be solely responsible for any damage or loss
        to you or any other party resulting therefrom. Character Chatter
        provider reserves all rights to remove content at their sole
        discretion.
    </p>
    <h3>General terms</h3>
    <p>
        You agree to not use Character Chatter for illegal or unlawful
        purposes. You agree that you will not try to test or breach
        vulnerabilities on this website or circumvent security measures.
        Character Chatter is provided on an “as is” and “as available”
        basis, without warranty.
    </p>
    <h3>Subject to change</h3>
    <p>
        Character Chatter provider reserves the right to update and
        change these terms. The date at the top of the terms will be
        updated if changes occur. You are adviced to check the terms of
        service regularly for changes that may impact you. If you do not
        accept such amendments, you must cease using Character Chatter.
    </p>
{% endblock %}
